<% provide(:title, 'About me') %>
<div class="middle">
	<%= link_to image_tag("logo_1.png", alt: "Rails", width:"150", height:"150"), '#', id: "logo2" %>
	<h1>HI, I'M STANISLAV ZELENKO</h1>
	<p>Freelance designer & developer of all things digital and logos. I love Ruby on Rails. </p>
</div>