<% provide(:title, 'Contact') %>
<div class="feedback">
	<h1>SEND A MESSAGE</h1>	
	<ul class="col">
		<li class="left">YOUR NAME</li>
		<li class="right" id="e-mail">YOUR E-MAIL</li>
	</ul>

	<ul class="form">
		<li class="left"><input type="text" name="your-name" value="" size="70" style="width: 310px" aria-required="true" aria-invalid="false" placeholder="Your name here"></li>
		<li class="right"><input type="email" name="your-email" value="" size="70" style="width: 310px" aria-required="true" aria-invalid="false" placeholder="How can I reach you?"></li>
	</ul>
	<textarea name="your-message" cols="40" rows="10" style="width: 98%" placeholder="Your message or question..."></textarea>
</div>