<% provide(:title, 'What I do') %>
<div class="portfolio">
	<h1>My portfolio</h1>
		<ul>
			<li><%= link_to image_tag("mpcc_thumb.png", alt: "portfol1", width:"190", height:"190"), '#', id: "port1" %></li>
			<li><%= link_to image_tag("ivgl-thumb.jpg", alt: "portfol2", width:"190", height:"190"), '#', id: "port2" %></li>
			<li><%= link_to image_tag("marcom_thumb2.png", alt: "portfol3", width:"190", height:"190"), '#', id: "port3" %></li>
			<li><%= link_to image_tag("png.png", alt: "portfol4", width:"190", height:"190"), '#', id: "port4" %></li>
		</ul>
		<p>I'm Stanislav Zelenko, a freelance designer and developer from the Netherlands with around 10 years of professional web experience. You can hire me for the design of your new logo and/or website. I can also help out with various front-end projects or with the development of Wordpress sites, I can build custom themes and plugins as well as work off of existing (premium) themes and/or frameworks. Experienced with Bootstrap, Foundation, Bones, SASS & SVN as well as the Adobe Creative Suite.</p>

</div>