<footer >
  <small>
    Find me on <a href="#"> LINKEDIN</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About me",   root_path %></li>
      <li><%= link_to ""    %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
